
---

---

  <a href="https://api.whatsapp.com/send?phone=5215526838286" 

  target="_blank" 
  rel="noopener noreferrer" 
  aria-label="Cotiza tu página web en WhatsApp" 

  class="neon-button leading-none px-10 py-3 rounded-xl text-bodydark bg-green-400 font-bold text-[calc(1.2rem+0.5vw)] 
         hover:bg-green-500 hover:text-fontlight 
         focus:outline-none focus:ring-0 focus:border-0 
         active:outline-none active:ring-0 active:border-0 
         border-none">
  Cotiza Ahora<br>Tu Página Web
  </a>

