---
import Head from '@/components/layout/PageHeadStructure.astro';
import Header from '@/components/layout/header/Header.astro';
import Footer from '@/components/layout/footer/Footer.astro';

interface Props {
  title: string;
  description: string;
  url: string;
  image: string;
}

const { title, description, url, image } = Astro.props;
---

<!doctype html>
<!--
    “Diseñamos páginas web que transforman negocios en México.
    En OnamuPublicidad.com, damos vida a tu visión con estrategias digitales innovadoras y efectivas.”

    OnamuPublicidad.dev & BarretoAds.Dev | Transformamos Tu Visión en Realidad.
 -->
<html lang="es" dir="ltr">
  <Head title={title} description={description} url={url} image={image} />

  <body class="bg-bodydark text-fontlight font-bricolage  m-0 p-0">
    <Header />
    <main id="main-content" role="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @font-face {
    font-family: "Bricolage Grotesque Variable";
    font-style: normal;
    font-weight: 400 800;
    font-optical-sizing: auto;
    font-display: swap;
    font-stretch: normal;
    src: url("https://cdn.jsdelivr.net/fontsource/fonts/bricolage-grotesque:vf@latest/latin-wght-normal.woff2")
      format("woff2-variations");
    unicode-range: U+0000-00FF;
    font-feature-settings: "kern", "liga", "calt";
    font-variation-settings: "wght" 400 800;
  }

  /* Eliminación de reglas innecesarias y aprovechamiento de Tailwind */
  main {
    @apply flex flex-col items-center justify-center;
  }
  @layer components {
  .menu-links {
    @apply hover:text-bodydark font-semibold transition-transform duration-300 px-5 py-3 hover:bg-green-400 rounded-lg hover:scale-105 ease-in-out
  }
}



</style>