---

import Cta from '@/components/ui/buttons/Cta.astro';
import SocialLinks from '@/components/ui/buttons/SocialLinks.astro';

import OptimizedImage from '@/services/CloudinaryInt.jsx';

---


<section class="flex flex-col p-8 text-center gap-6 items-center leading-none">

  <!-- Animacion en línea -->
  <div class="flex items-center gap-2 py-2 px-3 bg-black font-bold text-xs rounded-full shadow-neon">
    <span class="inline-block h-2 w-2 rounded-full bg-green-400 animate-pulse"></span> Tu Página Web En Línea
  </div>

  
    <!-- Título principal -->
    <h1 class="text-balance max-w-screen-sm font-extrabold text-[calc(2.0rem+1vw)]">
      Página Web Profesional en México para Hacer Crecer tu Negocio.
    </h1>
  
    <!-- Subtítulo -->
    <p class="text-balance max-w-screen-sm text-[calc(1rem+0.5vw)]">
      Páginas Web a Medida para Empresas Mexicanas: Más Ventas, Mayor Visibilidad
    </p>
    

     <!-- Botón CTA -->
  <Cta />
  
  <!-- Redes sociales -->
  <SocialLinks />
  

    <!-- Imágenes (componentes o estáticas) -->
    <OptimizedImage
    imageType="image2"
    alt="personas trabajando en línea con un sitio web"
    width={1024}
    height={425}
    loading="eager"
    sizes="(max-width: 640px) 100vw, (max-width: 768px) 75vw, (max-width: 1024px) 50vw, 33vw"
    className=""
  />
  

  
  
  </section>