---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Imgs from '../components/images/homepage/Imgs.astro';



const meta = {
	  title: "Bienvenido a Onamu",
	  description:
		"Páginas Web que Dejan Huellas y Transforman Negocios en México.",
	  url: "https://onamupublicidad.dev",
	  image: "https://onamupublicidad.dev",
	};

---

<Layout {...meta}>




<section class="flex flex-col p-8 text-center gap-6 items-center leading-none ">
	
		<p class="relative flex items-center py-2 px-3 gap-2 rounded-full bg-black font-bold text-[calc(0.5rem+0.5vw)] justify-center border" role="status" aria-live="polite">
			<span class="relative flex h-3 w-3">
			<span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-300 opacity-80"></span>
			<span class="relative inline-flex rounded-full h-3 w-3 bg-green-400"></span>
			</span>
			Tu Página Web En Línea
		</p>
	  

		<h1 class="text-balance max-w-screen-sm font-extrabold text-[calc(2.0rem+1vw)] ">
			Página Web Profesional en México para Hacer Crecer tu Negocio.</h1>
		
		<p class="text-balance max-w-screen-sm text-[calc(1rem+0.5vw)]">
			Páginas Web a Medida para Empresas Mexicanas: Más Ventas, Mayor Visibilidad</p>

		<a href="https://api.whatsapp.com/send?phone=5215526838286" target="_blank" rel="noopener noreferrer" class=" leading-none px-10 py-3 rounded-xl text-white bg-red-600 font-bold text-[calc(1.2rem+0.5vw)]">Cotiza Ahora<br>Tu Página Web</a>
		<Imgs />
</section>







  
  
</Layout>
