---
// src/components/ServiceCard.astro

interface Props {
  serviceName: string;
}

// Obtener las props del componente
const { serviceName } = Astro.props;

// Lista de servicios dentro del componente
const services = [
  {
    title: "Diseño Web",
    body: "Crea sitios web adaptativos y modernos.",
    href: "/"
  },
  {
    title: "SEO",
    body: "Optimización para motores de búsqueda.",
    href: "/"
  },
  {
    title: "Publicidad Digital",
    body: "Gestiona campañas en Google Ads y redes sociales.",
    href: "/"
  },
  {
    title: "Marketing de Contenidos",
    body: "Atrae clientes mediante estrategias de contenido.",
    href: "/"
  }
];

// Buscamos el servicio basado en serviceName
const selectedService = services.find(service => service.title === serviceName);

if (!selectedService) {
  throw new Error(`Service with title "${serviceName}" not found`);
}

const { title, body, href } = selectedService;
---

<ul class="p-6 h-full bg-bodydark backdrop-blur-xl font-bold rounded-lg transition-transform transform hover:scale-105 shadow-md hover:shadow-lg text-fontlight cursor-pointer border border-gray-600 border-opacity-30 hover:border-opacity-100  text-[calc(1rem+0.5vw)] group hover:bg-red-600 hover:text-white">
  
	<a href={href} class="h-full w-full flex flex-col justify-center items-center gap-4 ">
	  <!-- El título cambiará de color rojo cuando hagas hover en la tarjeta -->
	  <h2 class="transition-colors ">{title}</h2>
	  
	  <p class="font-normal text-[calc(0.7rem+0.5vw)]">{body}</p>
	  <span class="text-sm text-red-600 group-hover:text-black">Leer más</span>
	</a>
  </ul>
  
