---
import LogoBlanco from "@/components/ui/images/homepage/Logos.astro";
---

<footer class="bg-neutral-900 max-w-full p-10 flex flex-col justify-center items-center space-y-6">

  <LogoBlanco
    imageType="Logo-Blanco"
    alt="personas trabajando en línea con un sitio web"
    width={150}
    height={29}
    loading="eager"
    sizes="(max-width: 640px) 100vw, (max-width: 768px) 75vw, (max-width: 1024px) 50vw, 33vw"
  />

  <p class="text-sm text-neutral-400 text-center">Copyright &copy; 2024 Estudio Onamu Publicidad Dev. Todos los derechos reservados.</p>

  <nav class="flex flex-col justify-center items-center gap-4 md:flex-row">
    <a href="/" class="menu-links">Política de Privacidad</a>
    <a href="/" class="menu-links">Términos de Servicio</a>
    <a href="/" class="menu-links">Contacto</a>
  </nav>
 
</footer>