---
// CTA Button Whatsapp with Advanced Optimizations
---

<a
  href="https://api.whatsapp.com/send?phone=5215526838286"
  target="_blank"
  rel="noopener noreferrer"
  aria-label="Cotiza tu página web en WhatsApp"
  class="neon-button leading-none px-10 py-3 rounded-xl text-bodydark bg-gradient-to-r from-green-400 to-green-500 font-bold text-[calc(1.2rem+0.5vw)]
         transition-all duration-300 ease-in-out transform-gpu
         hover:bg-gradient-to-r hover:from-green-400 hover:to-green-600 hover:scale-105 hover:text-white
         focus:outline-none 
         active:bg-green-700 active:scale-95 active:shadow-inner ">
  Cotiza Ahora<br>Tu Página Web
</a>
