---
// SocialLinks.astro

export interface SocialLink {
  href: string;
  label: string;
}

interface Props {
  label?: string;
}

const { label } = Astro.props;

const links: SocialLink[] = [
  { href: "https://dribbble.com", label: "Dribbble" },
  { href: "https://linkedin.com/company/onamupublicidad", label: "LinkedIn" },
  { href: "https://github.com/BarretoAds-Dev", label: "GitHub" }
];

// Filtrar los enlaces según la etiqueta proporcionada, si se pasa el `label`.
const filteredLinks = label ? links.filter(link => link.label.toLowerCase() === label.toLowerCase()) : links;
---

<div class="flex justify-center space-x-8 text-lg">
  {filteredLinks.map(({ href, label }) => (
    <a 
      href={href} 
      target="_blank" 
      rel="noopener noreferrer" 
      aria-label={label} 
      class="hover:underline focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-blue-500"
    >
      {label} ↗
    </a>
  ))}
</div>