---
import Head from '../layouts/Head.astro';
import Header from '../layouts/Header.astro';
import Footer from '../layouts/Footer.astro';

interface Props {
	title: string;
	description: string;
	url: string;
	image: string;

}

const { title, description, url, image } = Astro.props;
---

<!doctype html>
<!--
    “Diseñamos páginas web que transforman negocios en México.
    En OnamuPublicidad.com, damos vida a tu visión con estrategias digitales innovadoras y efectivas.”

    OnamuPublicidad.dev & BarretoAds.Dev | Transformamos Tu Visión en Realidad.
 -->
<html lang="es" dir="ltr">
	<Head title={title} description={description} url={url} image={image} />

	<body class="bg-bodydark p-0 m-0 text-fontlight font-bricolage">
        
		<Header />
		<slot />
		<Footer />
	
	</body>
</html>


<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
	
	@font-face {
		font-family: "Bricolage Grotesque Variable";
		font-style: normal;
		font-weight: 400 800;
		font-optical-sizing: auto;
		font-display: optional;
		font-stretch: normal; /* added */
		src: url("https://cdn.jsdelivr.net/fontsource/fonts/bricolage-grotesque:vf@latest/latin-wght-normal.woff2")
		  format("woff2-variations");
		unicode-range: U+0000-00FF;
		font-feature-settings: "kern", "liga", "calt";
		font-variation-settings: "wght" 400 800;
		ascent-override: 90%;
		line-gap-override: 20%;
	  }


	  @layer utilities {
		.shadow-neon {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), /* Una sola capa */
              0 0 25px rgba(255, 255, 255, 0.3); /* Segunda capa opcional */
}


  .neon-effect {
    position: block;
	
  }

  .neon-effect::before {
    content: '';
    position: absolute;
    top: -20%;
    left: -20%;
    width: 150%;
    height: 150%;
    background-color: rgba(0, 255, 0, 0.6);
    border-radius: 50%;
    filter: blur(5px);
    opacity: 0.8;
    animation: neon-pulse 0.8s ease-in-out infinite alternate;
    pointer-events: none;
  }

  @keyframes neon-pulse {
    from {
      opacity: 0.8;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}


	</style>