---
import Head from '../layouts/Head.astro';

interface Props {
	title: string;
	description: string;
	url: string;
	image: string;

}

const { title, description, url, image } = Astro.props;
---

<!doctype html>
<!--
    “Diseñamos páginas web que transforman negocios en México.
    En OnamuPublicidad.com, damos vida a tu visión con estrategias digitales innovadoras y efectivas.”

    OnamuPublicidad.dev & BarretoAds.Dev | Transformamos Tu Visión en Realidad.
 -->
<html lang="es" dir="ltr">
	<Head title={title} description={description} url={url} image={image} />
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	@font-face {
    font-family: "Bricolage Grotesque Variable";
    font-style: normal;
    font-weight: 400 800;
    font-optical-sizing: auto;
    font-display: optional;
    font-stretch: normal; /* added */
    src: url("https://cdn.jsdelivr.net/fontsource/fonts/bricolage-grotesque:vf@latest/latin-wght-normal.woff2")
      format("woff2-variations");
    unicode-range: U+0000-00FF;
    font-feature-settings: "kern", "liga", "calt";
    font-variation-settings: "wght" 400 800;
    ascent-override: 90%;
    line-gap-override: 20%;
  }
	html {
		font-family: "Bricolage Grotesque Variable";
		background: #13151a;
	}
	
</style>
